/*  Main CSS file for the resilient coastal cities app */
/**/

/* Vue js styling*/

.activeShow{
	display: none; color: blue;
}





.rc-appWrapper{
	padding: 5px;
}
.rc-introText{
	margin-top: 15px;
}
.rc-timeButton{
	width: 200px;
}
.rc-floodTimeframeWrapper{
	margin-left: 10px;
}
.rc-rangeLabels{
	font-size: 14px; padding-left: 5px; padding-right: 3px;
}
.rc-rangeWrapper{
	display: none;
}
/*.rc-floodriskWrapper{
	display: none;
}*/




/* Jquery UI styling */
.ui-datepicker.ui-datepicker-multi{
	z-index: 1000 !important;
}
.ui-datepicker{
	z-index: 1000 !important;
}