/*  Main CSS file for the resilient coastal cities app */
/**/

/* Vue js styling*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.activeShow{
	display: none; color: blue;
}

h3{
	font-size: 16px !important;
}
.rc-adaptationWrapper{
	display: none;
}
.rc-appWrapper{
	 height: 100%;
}
.rc-introText{
	margin-top: 15px;
}
.rc-introWrapper{
	padding-bottom: 10px;
}
.rc-timeButton{
	width: 200px;
}
.rc-floodTimeframeWrapper{
	margin-left: 10px; padding-bottom: 10px; display: none;
}
.rc-rangeLabels{
	font-size: 14px; padding-left: 5px; padding-right: 3px;
}
.rc-rangeWrapper{
	display: none; margin-top: 10px;
}
.rc-noFloodText{
	color: red; display: none; margin-top: 10px; text-align: center;
}
.rc-noTagText{
	color: red; display: none; margin-top: 10px; text-align: center;
}
.rc-eventsWrapper{
	display: none; text-align: center;
}
.rc-event{
	display: flex; width: 300px; border: 1pt solid #cdd5d5;padding: 5px; 
	box-shadow: 0 1px 1px rgba(16,22,26,.2); position: relative; margin: auto; margin-top: 10px;
}
.rc-event:hover{
	cursor: pointer; background: #f3f3f3;
}
.rc-floodEventDate{
	margin-left: 10px;
}
.rc-timeframeText{
	font-size: 16px; text-align: center; margin-top: 10px;
}
.rc-timeframeText span{
	font-weight: bold;
}
.rc-adminNameText{
	font-size: 16px; text-align: center; margin-top: 10px;
}
.rc-adminNameText span{
	font-weight: bold;
}
/*.rc-mainToggleWrapper{
	display: none;
}*/
.rc-contentBelowIntroWrapper{
	display: none;
}
.rc-headingAndBackBtnWrapper{
	display: flex; align-items: center;
}
.rc-floodriskWrapper{
	overflow: hidden;
}
.rc-legendWrapper {
    display: flex;
    width: 90%;
    margin-left: 30px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.rc-legendItemsWrapper {
    display: flex;
}
.rc-popWrapper{
	height: 75px;
}
.rc-itemPatch {
    padding: 3px 30px;
}
.rc-barWrapper{
	width: 86%; position: relative; margin: auto;
}
.rc-maleBar{
	background: #ff7b25; width: 52%; height: 30px; position: absolute;
}
.rc-femaleBar{
	background: #6b5b95; width: 100%; height: 30px; position: absolute;
}
.rc-popLabel{
	position: absolute; width: 100%; z-index: 1001; color: white;
}
.rc-popLabel div{
	position: absolute; margin-top: 5px;
}
.rc-textItems{
	font-size: 18px;
    font-weight: bold;
}
.rc-textItems span{
	color: #2F6384;
    font-size: 22px;
}
.rc-placesText{
	text-align: left; margin-left: 94px;
}
.rc-infraCBWrapper{
	display: flex; margin-left: 20px; margin-bottom: 20px;
}

/* adaptaion solution styling */
.rc-manResPotenWrapper h3, .rc-manResPotenWrapper h2{
	text-align: center; color: rgb(53, 150, 104)
}
.rc-ricePotenWrapper h3, .rc-ricePotenWrapper h2{
	text-align: center; color: rgb(168, 212, 11)
}
.rc-lowRicePotenWrapper h3, .rc-lowRicePotenWrapper h2{
	text-align: center; color: rgb(170, 255, 0)
}
.rc-restMangAndRice h3, .rc-restMangAndRice h2{
	text-align: center; color: rgb(0, 89, 89)
}


/* Jquery UI styling */
.ui-datepicker.ui-datepicker-multi{
	z-index: 1000 !important;
}
.ui-datepicker{
	z-index: 1000 !important;
}